#streamView {
    min-width:100%;
}

#streamView  {
}

.asset {
    margin:0px;
    padding:20px;
    background: rgba(255,255,255,0.9);
}

.asset:hover {
    background: rgba(255,255,255,0.5);
}